main {
  padding: 1rem;
}

.home.container {
  display: grid;
  grid-template-columns: 1fr;
}

.home__primary-img img {
  width: 100%;
}

.home__primary-title {
  font-size: 3rem;
  margin: 0;
}

.primary-description {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.primary-description p {
  color: var(--neutral-dark-grayish-blue);
}

.primary-description button {
  border: none;
  padding: 1rem 2rem;
  color: var(--neutral-very-dark-blue);
  background-color: var(--primary-soft-red);
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  cursor: pointer;
}

.primary-description .readmore:hover {
  background-color: var(--neutral-very-dark-blue);
  color: var(--neutral-off-white);
}

.home__secondary {
  background-color: var(--neutral-very-dark-blue);
  padding: 1rem;
  margin-block: 3rem;
}

.secondary__desc + .secondary__desc {
  border-block-start: 2px solid rgba(255, 255, 255, 0.2);
}

.home__secondary h2 {
  font-size: 2rem;
  color: var(--primary-soft-orange);
}

.home__secondary h3 {
  color: var(--neutral-off-white);
}

.home__secondary p {
  color: var(--neutral-dark-grayish-blue);
}

.home__footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.home__footer-desc {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.home__footer-desc img {
  height: 7.5rem;
  width: auto;
}

.home__footer-desc p {
  margin: 0;
  color: var(--neutral-dark-grayish-blue);
}

.home__footer-desc a {
  color: var(--neutral-very-dark-blue);
  text-decoration: none;
  font-weight: 700;
  font-size: 1.125rem;
}

.home__footer-desc a:hover {
  color: var(--primary-soft-red);
}

.home__footer-desc .number {
  color: var(--primary-soft-red);
  font-weight: 700;
  font-size: 1.8rem;
}

.home__footer-desc + .home__footer-desc {
  margin-top: 1rem;
}

@media all and (width > 62.5rem) {
  .home.container {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .home__primary-img {
    grid-column: span 2;
  }

  .home__secondary {
    grid-area: 1/3/3/4;
    margin-block: 0;
  }
  .home__footer-desc {
    margin-top: 1rem;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .primary-description .readmore {
    transition:
      background 0.2s ease,
      color 0.2s ease;
  }
  .home__footer-desc a {
    transition: color 0.2s ease;
  }
}
